aside {

}
.my-item {
    background: #080808;
    color: white;
}
.my-item:hover {
    background: white;
    color: #080808;
}
.my-item-active {
    background: white;
    color: #080808;
}

#content {
    background: #e3e3e3;
}

.card {
    border: 1px solid black;
    background: #337ab7;
}
.card-body {
    color: white;
    font-size: 2em;
}
.card strong, .card small {

}

.list-group {
    text-align: center;
}

.my-item-child {
    margin-left: 2em;
    border: none;
}
.error-item {
    border: none;
    background: #005513;
    color: white;
}